section.descriptionone
    .container-desc
        .descriptionone-wraper 
            .descriptionone-img 
                img(src="../../img/section1/img1.jpg", alt="tree")
            .descriptionone-content 
                h2.descriptionone-title.title
                    |Каменные сооружения хранили частицу души уходящего навсегда человека.
                p.descriptionone-artical.artical 
                    |Приношения к сейдам существуют и поныне на Севере. Эта культурная традиция, связанная с миром мертвых, ушедшими предками, едина в генетической памяти всех народов Земли. И на таких местах сохранилась связь с другими мирами и реальностями, которая открывается тем, кто приходит сюда в правильном состоянии души, и кто готов постигать новое и по-настоящему достоин происходящего.
        p.namber-page
            |1
            span
                |/3