section.espedition
    .container-desc
        .espedition-wrap
            .espedition-content 
                h2.espedition-title.title 
                    |В ходе экспедиции на гору Воттаваара
                p.espedition-artical.artical 
                    |На горе Воттоваара вам будут проведены настройки, которые раскроют ваш внутренний потенциал и экстрасенсорные способности. Именно это место помогает понять себя настоящего, без влияния внешнего мира. Здесь идет раскрытие и понимание того, кто ты есть, на самом деле, без масок и установок.
            .espedition-img 
                img(src="./../../img/section3/img.jpg", alt="fire")
        p.namber-page
            |2
            span
                |/3