include ./../mixins/_mix

section.feedback
    h2.feedback-title.title 
        |Участники о поездке
    .contaner 
        .feedback-tabs
            .btn-next
                +arrowe 
            .btn-back
                +arrowe 
            .feedback-item
                .wrap-author
                    .feedback-foto
                        img(src="./../../img/section9/name2.jpg")
                        img(src="./../../img/section9/name1.jpg")
                        img(src="./../../img/section9/name4.jpg")
                        img(src="./../../img/section9/name5.jpg")
                        img(src="./../../img/section9/name6.jpg")
                        
                    p.feedback-name
                        |Марина
                .feedback-video