include ./../mixins/_yutube
include ./../mixins/_mix

section.feedback
    h2.feedback-title.title 
        |Участники о поездке
    .contaner 
        .feedback-tabs
            .btn-next
                +arrowe 
            .btn-back
                +arrowe 

            .feedback-item
                .wrap-author
                    .feedback-foto
                        img(src="./../../img/section9/name1.jpg", alt="")
                    p.feedback-name
                        |Марина
                .feedback-video 
                    +video1   
            .feedback-item
                .wrap-author
                    .feedback-foto
                        img(src="./../../img/section9/name1.jpg", alt="")
                    p.feedback-name
                        |Марина
                .feedback-video 
                    +video3
            .feedback-item
                .wrap-author
                    .feedback-foto
                        img(src="./../../img/section9/name1.jpg", alt="")
                    p.feedback-name
                        |Марина
                .feedback-video 
                    +video4  
            .feedback-item
                .wrap-author
                    .feedback-foto
                        img(src="./../../img/section9/name1.jpg", alt="")
                    p.feedback-name
                        |Марина
                .feedback-video 
                    +video5   
            .feedback-item
                .wrap-author
                    .feedback-foto
                        img(src="./../../img/section9/name1.jpg", alt="")
                    p.feedback-name
                        |Марина
                .feedback-video 
                    +video6   