include ./../mixins/_yutube
include ./../mixins/_mix

section.feedback
    h2.feedback-title.title 
        |Участники о поездке
    .contaner 
        .feedback-tabs
            .btn-next
                +arrowe 
            .btn-back
                +arrowe 

            .feedback-item
                .wrap-author
                    .feedback-foto
                        img(src="./../../img/section9/name2.jpg", alt="")
                    p.feedback-name
                        |Марина
                .feedback-video 
                    +video7   
            .feedback-item
                .wrap-author
                    .feedback-foto
                        img(src="./../../img/section9/name1.jpg", alt="")
                    p.feedback-name
                        |Марина
                .feedback-video 
                    +video8
            .feedback-item
                .wrap-author
                    .feedback-foto
                        img(src="./../../img/section9/name4.jpg", alt="")
                    p.feedback-name
                        |Марина
                .feedback-video 
                    +video9  
            .feedback-item
                .wrap-author
                    .feedback-foto
                        img(src="./../../img/section9/name5.jpg", alt="")
                    p.feedback-name
                        |Марина
                .feedback-video 
                    +video10   
            .feedback-item
                .wrap-author
                    .feedback-foto
                        img(src="./../../img/section9/name6.jpg", alt="")
                    p.feedback-name
                        |Марина
                .feedback-video 
                    +video11   