footer.footer
    .container 
        .footer-wrap 
            .footer-left
                ul.footer-list 
                    li.footer-item 
                        |Москва
                    li.footer-item 
                        a.footer-link(href="#!")
                            |Центр Развития &ldquo;NEO&rdquo;
                    li.footer-item 
                        |WhatsApp / Viber / СМС: 
                    li.footer-item     
                        a.footer-link(href="tel:+19879124043")
                            |+7(987)912-40-43
                    li.footer-item     
                        a.footer-link(href="mailto:info@shkolaneo.ru")
                            |info@shkolaneo.ru
                    
                a.footer-link(href="#!")
                    |&copy; 2020 Shkolaneo.ru
            .footer-right 
                ul.footer-list 
                    li.footer-item 
                         a.footer-link(href="#!")
                            |Публичная оферта
                    li.footer-item 
                        a.footer-link(href="#!")
                            | Согласие на обработку персональных данных
                    li.footer-item 
                         a.footer-link(href="#!")
                            | Политика конфиденциальности