section.foto 
    h2.foto-title.title
        |Фото отчет
    .container 
        .foto-wrap
            .foto-gallery1
                .gallery-title
                    |Галерея 1
                .gallery-img
                    .foto-item.foto-activ 
                img(src="./../../img/foto/IMG_7981.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_7981.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_7981.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_7981.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_7981.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_7981.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_7981.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_7982.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_7984.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_7985.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_7988.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_7990.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_8058.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_8060.jpg", alt="")

            .foto-gallery2
                .gallery-title
                    |Галерея 2
                .gallery-img 
                    .foto-item.foto-activ  
                img(src="./../../img/foto/IMG_8081.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_8084.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_8093.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_8104.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_8106.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_8111.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_8149.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_8185.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_8200.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_8204.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_8212.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_8216.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_8222.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_8223.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_8273.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_9292.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_9303.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_9312.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_9314.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_9316.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_9317.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_9365.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_9373.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_9381.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_9384.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_9396.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_9401.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_9407.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_9417.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_9418.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_9421.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_9431.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_9434.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_9435.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_9436.jpg", alt="")
            .foto-item 
                img(src="./../../img/foto/IMG_9443.jpg", alt="")

            .foto-gallery3
                .gallery-title
                    |Галерея 3
                .gallery-img
                    .foto-item.foto-activ  
                        img(src="./../../img/foto/IMG_9444.jpg", alt="")
                    .foto-item 
                        img(src="./../../img/foto/IMG_9445.jpg", alt="")
                    .foto-item 
                        img(src="./../../img/foto/IMG_9448.jpg", alt="")
                    .foto-item 
                        img(src="./../../img/foto/IMG_9454.jpg", alt="")
                    .foto-item 
                        img(src="./../../img/foto/IMG_9466.jpg", alt="")
                    .foto-item 
                        img(src="./../../img/foto/IMG_9475.jpg", alt="")
                    .foto-item 
                        img(src="./../../img/foto/IMG_9489.jpg", alt="")
                    .foto-item 
                        img(src="./../../img/foto/IMG_9509.jpg", alt="")
                    .foto-item 
                        img(src="./../../img/foto/IMG_9510.jpg", alt="")
                    .foto-item 
                        img(src="./../../img/foto/IMG_9519.jpg", alt="")