section.foto 
    h2.foto-title.title
        |Фото отчет
    .container 
        .foto-wrap
            .foto-gallery1
                .gallary-item
                    img(src="./../../img/foto/IMG_7981.jpg", alt="")
                    .gallery-title
                        |Галерея 1

            .foto-gallery2
                .gallary-item  
                    img(src="./../../img/foto/IMG_8081.jpg", alt="")
                    .gallery-title
                        |Галерея 2
                   
            .foto-gallery3
                .gallary-item 
                    img(src="./../../img/foto/IMG_9444.jpg", alt="")
                    .gallery-title
                        |Галерея 3