section.gallary2 
    .foto-item.foto-activ  
        img(src="./../../img/foto/IMG_8081.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_8084.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_8093.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_8104.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_8106.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_8111.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_8149.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_8185.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_8200.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_8204.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_8212.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_8216.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_8222.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_8223.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_8273.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9292.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9303.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9312.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9314.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9316.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9317.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9365.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9373.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9381.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9384.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9396.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9401.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9407.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9417.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9418.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9421.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9431.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9434.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9435.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9436.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9443.jpg", alt="")
