section.gallary1 
     .foto-item.foto-activ 
            img(src="./../../img/foto/IMG_7981.jpg", alt="")
        .foto-item 
            img(src="./../../img/foto/IMG_7982.jpg", alt="")
        .foto-item 
            img(src="./../../img/foto/IMG_7984.jpg", alt="")
        .foto-item 
            img(src="./../../img/foto/IMG_7985.jpg", alt="")
        .foto-item 
            img(src="./../../img/foto/IMG_7988.jpg", alt="")
        .foto-item 
            img(src="./../../img/foto/IMG_7990.jpg", alt="")
        .foto-item 
            img(src="./../../img/foto/IMG_8058.jpg", alt="")
        .foto-item 
            img(src="./../../img/foto/IMG_8060.jpg", alt="")