section.gallary3 
    .foto-item.foto-activ  
        img(src="./../../img/foto/IMG_9444.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9445.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9448.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9454.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9466.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9475.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9489.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9509.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9510.jpg", alt="")
    .foto-item 
        img(src="./../../img/foto/IMG_9519.jpg", alt="")