section.history 
    .container-desc
        .history-wrap 
            h2.history-title 
                |Север — это родина богов Древнего Мира.
            p.small-artical 
                |Здесь же находятся истоки всех женских магических культов древности, таких как - Изида, Венера, Афродита, Геката, Немезида, Кали и другие. Женские культы имеют солярную космическую или земную природу. Земные культы активизируются через плотные и тяжелые энергии нижних миров, а космические - имеют огненную и небесную природу. И те и другие очень важны, потому что решают разные магические задачи.