section.line
    .container-desc
        .line-wrap 
            p.small-artical 
                |Помните, что в это время своими мыслями, действиями, поступками особенно ярко влияете на всю линию жизни и, прибывая на месте силы, должны освободиться от негатива, чтобы создать лучшую версию себя и своей жизни.