include ./../mixins/_mix

section.modalgallary
    span.modal-close
    .neximg 
        +arrowemodal
    .backimg 
        +arrowemodal
    .container 
        .imggalary.imgactive
            img(src="./../../img/ft/IMG_7981.jpg", alt="")
        .imggalary 
            img(src="./../../img/ft/IMG_7982.jpg", alt="")
        .imggalary 
            img(src="./../../img/ft/IMG_7984.jpg", alt="")
        .imggalary 
            img(src="./../../img/ft/IMG_7985.jpg", alt="")
        .imggalary 
            img(src="./../../img/ft/IMG_7988.jpg", alt="")
        .imggalary 
            img(src="./../../img/ft/IMG_7990.jpg", alt="")
    