include ./../mixins/_mix

section.modalgallary
    span.modal-close
    .neximg 
        +arrowemodal
    .backimg 
        +arrowemodal
    .container 
        .imggalary.mg1.imgactive
            img(src="./../../img/ft/IMG_7981.jpg", alt="")
        .imggalary.mg1 
            img(src="./../../img/ft/IMG_7982.jpg", alt="")
        .imggalary.mg1 
            img(src="./../../img/ft/IMG_7984.jpg", alt="")
        .imggalary.mg1 
            img(src="./../../img/ft/IMG_7985.jpg", alt="")
        .imggalary.mg1 
            img(src="./../../img/ft/IMG_7988.jpg", alt="")
        .imggalary.mg1 
            img(src="./../../img/ft/IMG_7990.jpg", alt="")
        .imggalary.mg1 
            img(src="./../../img/ft/IMG_8060.jpg", alt="")
        .imggalary.mg1 
            img(src="./../../img/ft/IMG_8081.jpg", alt="")
        .imggalary.mg1 
            img(src="./../../img/ft/IMG_8111.jpg", alt="")
        .imggalary.mg1 
            img(src="./../../img/ft/IMG_8149.jpg", alt="")
        .imggalary.mg1 
            img(src="./../../img/ft/IMG_8200.jpg", alt="")
        .imggalary.mg1 
            img(src="./../../img/ft/IMG_8204.jpg", alt="")
        .imggalary.mg1 
            img(src="./../../img/ft/IMG_8212.jpg", alt="")
        .imggalary.mg1 
            img(src="./../../img/ft/IMG_8216.jpg", alt="")
        .imggalary.mg1 
            img(src="./../../img/ft/IMG_8222.jpg", alt="")
        .imggalary.mg1 
            img(src="./../../img/ft/IMG_8223.jpg", alt="")
        .imggalary.mg1 
            img(src="./../../img/ft/IMG_8273.jpg", alt="")
        .imggalary.mg1 
            img(src="./../../img/ft/IMG_9292.jpg", alt="")
        .imggalary.mg1 
            img(src="./../../img/ft/IMG_9303.jpg", alt="")
        .imggalary.mg2.imgactive
            img(src="./../../img/fb/IMG_8185.jpg", alt="")
        .imggalary.mg2 
            img(src="./../../img/fb/IMG_9373.jpg", alt="")
        .imggalary.mg2 
            img(src="./../../img/fb/IMG_9381.jpg", alt="")
        .imggalary.mg2 
            img(src="./../../img/fb/IMG_9396.jpg", alt="")
        .imggalary.mg2 
            img(src="./../../img/fb/IMG_9401.jpg", alt="")
        .imggalary.mg2 
            img(src="./../../img/fb/IMG_9418.jpg", alt="")
        .imggalary.mg2 
            img(src="./../../img/fb/IMG_9431.jpg", alt="")
        .imggalary.mg2 
            img(src="./../../img/fb/IMG_9434.jpg", alt="")
        .imggalary.mg2 
            img(src="./../../img/fb/IMG_9435.jpg", alt="")
        .imggalary.mg2 
            img(src="./../../img/fb/IMG_9436.jpg", alt="")
        .imggalary.mg2 
            img(src="./../../img/fb/IMG_9443.jpg", alt="")
        .imggalary.mg2 
            img(src="./../../img/fb/IMG_9448.jpg", alt="")
        .imggalary.mg2 
            img(src="./../../img/fb/IMG_9454.jpg", alt="")
        .imggalary.mg2
            img(src="./../../img/fb/IMG_9509.jpg", alt="")
        .imggalary.mg2
            img(src="./../../img/fb/IMG_9510.jpg", alt="")
        .imggalary.mg3.imgactive
            img(src="./../../img/ft/IMG_9314.jpg", alt="")
        .imggalary.mg3 
            img(src="./../../img/ft/IMG_9317.jpg", alt="")
        .imggalary.mg3 
            img(src="./../../img/ft/IMG_9365.jpg", alt="")
        .imggalary.mg3 
            img(src="./../../img/ft/IMG_9384.jpg", alt="")
        .imggalary.mg3 
            img(src="./../../img/ft/IMG_9407.jpg", alt="")
        .imggalary.mg3 
            img(src="./../../img/ft/IMG_9417.jpg", alt="")
        .imggalary.mg3 
            img(src="./../../img/ft/IMG_9421.jpg", alt="")
        .imggalary.mg3 
            img(src="./../../img/ft/IMG_9444.jpg", alt="")
        .imggalary.mg3 
            img(src="./../../img/ft/IMG_9445.jpg", alt="")
        .imggalary.mg3 
            img(src="./../../img/ft/IMG_9466.jpg", alt="")
        .imggalary.mg3 
            img(src="./../../img/ft/IMG_9475.jpg", alt="")
        .imggalary.mg3 
            img(src="./../../img/ft/IMG_9489.jpg", alt="")
        .imggalary.mg3
            img(src="./../../img/ft/IMG_9519.jpg", alt="")