section.othername
    p.small-artical
        |У Воттоваара есть и другое название, которое сразу даёт понять, что здесь всё серьёзно. Местные жители частенько называют Воттоваара «Смерть-горой» и верят, что где-то здесь находится проход в другой мир. 