section.practice
    .container-desc
        .practice-wraper 
            .practice-img 
                img(src="../../img/section5/camp.jpg", alt="in the camp")
            .practice-content 
                h2.practice-title.title
                    |Практическая часть семинара в Карелии 
                p.practice-artical.artical 
                    |Воттоваара - это гора перехода из одного мира в другой, это граница между мирами. Воттоваара - это наше рождение, наш дом - Гипербория.
                p.practice-artical.artical 
                    | Эта любовь к горе остается навсегда с тобой. Мы начинаем жить в другой реальности, любить сердцем всех, кто соприкасается с нами! Аномальная зона останавливает поток мыслей и ненужной суеты. Ты смотришь в глаза самому себе, своей истинной природе, которая сливается с тобой, помогая это прочувствовать.
        p.namber-page
            |3
            span
                |/3