section.program.none 
    .container 
        h2.program-title.title
            |Программа
        .program-wrap
            ul.program-list
                li.program-item
                    p.program-namber
                        |1
                    p.program-text 
                        |Мощное очищение ауры.
                li.program-item
                    p.program-namber
                        |2
                    p.program-text 
                        |Шаманские Посвящения Тенгри.
                li.program-item
                    p.program-namber
                        |3
                    p.program-text 
                        |Мягкое очищение организма от шлаков и токсинов с помощью травяных сборов и полезного вегетарианского питания.
                li.program-item
                    p.program-namber
                        |4
                    p.program-text 
                        |Глубокие медитации и энергетические шаманские практики.
                li.program-item
                    p.program-namber
                        |5
                    p.program-text 
                        |Прогулки по самым значимым местам горы с проведением практик и медитаций.
                li.program-item
                    p.program-namber
                        |6
                    p.program-text 
                        |На летнее солнцестояние мощный обряд на свою собственную судьбу на ближайшие 3 года!
                