section.route 
    .container-desc
        .route-wrap 
            p.small-artical 
                |Маршруты трекинговые, пешеходные, для людей со средней физической подготовкой.
            p.small-artical   
                |Проживание в палатках на лоне дикой природы.