.practice,
.descriptionone{
    padding-left: 135px;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    .container-desc{
        .namber-page{
            bottom: 0;
            right: 20px;
        }
    }
}
.practice-wraper,
.descriptionone-wraper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @media (min-width: 1200px){
        flex-direction: row;
    }
} 
.practice-img,
.descriptionone-img{
    margin: 0 auto;
    @media (min-width: 1200px){
        margin-right: 140px;

    }
} 
.practice-content,
.descriptionone-content{
    max-width: 630px;
    padding-right: 20px;
} 
.practice-title,
.descriptionone-title{
    margin-bottom: 105px;
}
.practice-artical,
.descriptionone-artical{
    margin-bottom: 50px;
} 