.foto{
    padding: 110px 0;
}
.foto-title{
    text-align: center;
    margin-bottom: 70px;
}
.foto-wrap{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.gallary-item{
    position: relative;
    display: inline-block;
    width: 250px;
    height: auto;
    cursor: pointer;
    overflow: hidden;
    transition: .4s;
    
    img{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
    &:hover{
        .gallery-title{
            bottom: 3px;
        }
    }
    
}
.gallery-title{
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 30%;
    background: var(--linkgreen);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    transition: 1s;
}
.foto-artical{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color:  var(--gren);
}
