.foto{
    padding: 110px 0;
}
.foto-title{
    text-align: center;
}
.foto-item{
    display: none;
}
.foto-activ{
    display: inline-block;
    width: 570px;
    height: auto;
    img{
        width: 100%;
        height: 100%;
    }
}