.modalgallary{
    display: none;
    span{
        content: '';
        position: fixed;
        top: 30px;
        right: 30px;
        width: 30px;
        height: 4px;
        background: var(--whitesp);
        cursor: pointer;
        z-index: 102;
        &::before,
        &::after{
            content:'';
            position: absolute;
            right: 0px;
            width: 30px;
            height: 4px;
            background: var(--white);
            transition: .5s;
            top: 0;
        }
        &::before{
            transform: rotate(45deg);
        }
        &::after{
            transform: rotate(-45deg); 
        }
        &:hover{
            &::before,
            &::after{
                background: var(--gren);
            }
        }
    }
    
}
.modalshow{
    display: block;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--mdcolor);
    overflow: hidden;
    z-index: 100;
}
.neximg,
.backimg{
    position: fixed;
    width: 70px;
    height: 70px;
    bottom:1%;
    cursor: pointer;
    z-index: 100;
    svg{
        width: 100%;
        height: 100%;
        fill:var(--white);
        transition: .4s;
    }
    z-index: 100;
    &:hover{
        svg{
            fill: var(--gren);
        }
    }
    @media (min-width: 768px){
        width: 70px;
        height: 70px;
        top: 50%;
    }
}
.neximg{
    right: 20px;
    transform: rotate(90deg);
}
.backimg{
    left: 20px;
    transform: rotate(-90deg);
}
.imggalary{
    position: fixed;
    bottom: -1000%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgactive{
    margin: 0 auto;
    top: 0;
    height: 100%;
    max-width: 300px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    img{
        width: 100%;
        height: auto;
    }
    @media (min-width: 568px){
        min-height: 100vh;
        width: auto;
    }
    @media (min-width: 768px){
        max-width: auto;
    }
}