.line,
.othername{
    position: relative;
    padding: 110px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index:1;
    &::after{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--bgcolor);
        z-index: -1;
    }
}
.othername{
    background-image: url('./../../img/section4/bg.jpg');
}