mixin video1 
    <iframe width="560" height="315" src="https://www.youtube.com/embed/j6m_IKIQgsI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
mixin video2
    <iframe width="560" height="315" src="https://www.youtube.com/embed/4R3ZJO25rTc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

mixin video3 
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xYJQOzbKVE4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

mixin video4 
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Drp4i-u6DEA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
mixin video5 
    <iframe width="560" height="315" src="https://www.youtube.com/embed/tfZl3wjIMPw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

mixin video6
    <iframe width="560" height="315" src="https://www.youtube.com/embed/y2Np3N_jTAI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
