mixin video1 
    <iframe src="https://www.youtube.com/embed/j6m_IKIQgsI" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
mixin video2
    <iframe src="https://www.youtube.com/embed/4R3ZJO25rTc" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

mixin video3 
    <iframe  src="https://www.youtube.com/embed/xYJQOzbKVE4" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

mixin video4 
    <iframe  src="https://www.youtube.com/embed/Drp4i-u6DEA" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
mixin video5 
    <iframe  src="https://www.youtube.com/embed/tfZl3wjIMPw" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

mixin video6
    <iframe  src="https://www.youtube.com/embed/y2Np3N_jTAI" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

mixin video7 
    <iframe  src="https://www.youtube.com/embed/b-ZNuNCtg2M" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

mixin video8 
    <iframe  src="https://www.youtube.com/embed/iI-vQsTzJ94" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

mixin video9 
    <iframe  src="https://www.youtube.com/embed/4q7dZNYkQUk" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

mixin video10
    <iframe  src="https://www.youtube.com/embed/o8ndky6INwc" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

mixin video11
    <iframe  src="https://www.youtube.com/embed/xFAEpnzz84I" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>