extends ./../layouts/main.pug

block variables
    - const title = "Главная";

block content
    include ../sections/_header
    //- include ../sections/_quote
    //- include ../sections/_mentor
    //- include ../sections/_aura
    //- include ../sections/_cocon
    //- include ../sections/_price
    //- include ../sections/_reviews
    //- include ../sections/_footer