extends ./../layouts/main.pug

block variables
    - const title = "Главная";

block content
    include ../sections/_header
    main
        include ../sections/_descriptionone
        include ../sections/_history
        include ../sections/_espedition
        include ../sections/_othername
        include ../sections/_practice
        include ../sections/_route
        include ../sections/_program
        include ../sections/_forms
        include ../sections/_video
        include ../sections/_line
        include ../sections/_foto
        include ../sections/_feedback
        include ../sections/_forms
    include ../sections/_footer